/*Base styles*/
html,
input,
select,
textarea {
  color: #333;
  font-size: 13px;
  font-family: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
}
::selection {
  background: #0784ad;
  color: #fff;
}
::-moz-selection {
  background: #0784ad;
  color: #fff;
}
a {
  color: #1b66ff;
}


.l-page {
  margin: 0 auto;
  width: 960px;
}