/* glue: {{ version }} hash: {{ hash }} */
{% for image in images %}
{{ image.label }}(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position: {{ image.x ~ ('px' if image.x) }} {{ image.y ~ ('px' if image.y) }} importance
    if r in arg
      width: {{ image.width }}px importance
      height: {{ image.height }}px importance
  else
    display: inline-block importance
    background: url({{ sprite_path }}) no-repeat {{ image.x ~ ('px' if image.x) }} {{ image.y ~ ('px' if image.y) }} importance
    width: {{ image.width }}px importance
    height: {{ image.height }}px importance
    {% if ratios|length > 1 %}{% for ratio in ratios %}{% if not ratios[ratio].ratio == 1.0 %}
  @media screen and (-webkit-min-device-pixel-ratio: {{ ratios[ratio].ratio }}), screen and (min--moz-device-pixel-ratio: {{ ratios[ratio].ratio }}),screen and (-o-min-device-piratio: {{ ratio.fraction }}),screen and (min-device-pixel-ratio: {{ ratios[ratio].ratio }})
    background-image: url('{{ ratios[ratio].sprite_path }}')
    background-size: {{ width }}px {{ height }}px
{% endif %}{% endfor %}{% endif %}{% endfor %}