@import '../variables';

@media (max-width: $md-min) {


  .visible-md,
  .visible-only-md,
  .hidden-only-bs {
    display: block !important;
  }

  .hidden-md,
  .visible-only-bs,
  .hidden-only-md {
    display: none !important;
  }

  @import '*/*-md';
}