@import '../variables';

@media (max-width: $sm-min) {

  @import '*/*-sm';

  .visible-sm,
  .visible-only-sm,
  .hidden-only-md {
    display: block !important;
  }

  .hidden-sm,
  .visible-only-md,
  .hidden-only-sm {
    display: none !important;
  }
}