/*normalize.css*/
.normalize {
  overflow: hidden;
  line-height: 18px;
}
.normalize h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.normalize h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
.normalize h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
.normalize h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
.normalize h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
.normalize h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
.normalize ol,
.normalize ul {
  margin: 1em 0;
  padding-left: 40px;
}
.normalize ul {
  list-style: disc;
}
.normalize ul ul {
  list-style: circle;
}
.normalize ul ul ul {
  list-style: square;
}
.normalize ol {
  list-style: decimal;
}
.normalize ul.unstyled,
.normalize ol.unstyled {
  padding-left: 0;
  list-style: none;
}
.normalize img {
  clear: both;
  margin-bottom: 5px;
}
.normalize table,
.normalize td,
.normalize th {
  border: none;
}
.normalize table th,
.normalize table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
}
.normalize table {
  border-spacing: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
  max-width: 100%;
}
.normalize table th {
  font-weight: bold;
}
.normalize table[border] {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.normalize table[border] thead td,
.normalize table[border] thead th {
  background: #f3f3f3;
}
.normalize table[border] th,
.normalize table[border] td {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.normalize table[border] th {
  background: #f8f8f8;
}
.normalize table[border="2"],
.normalize table[border="2"] td,
.normalize table[border="2"] th {
  border-width: 2px !important;
}
.normalize table[border="3"],
.normalize table[border="3"] td,
.normalize table[border="3"] th {
  border-width: 3px !important;
}
.normalize table[border="0"],
.normalize table[border="0"] td,
.normalize table[border="0"] th {
  border-width: 3px !important;
}