/*global.css*/
.clear,
.clear-line {
  display: block;
  clear: both;
}
.clear-line {
  font-size: 0;
  line-height: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
img.img-left {
  float: left;
  margin: 2px 18px 12px 0;
}
img.img-right {
  float: right;
  margin: 2px 18px 12px 0;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.align-justify {
  text-align: justify !important;
}
.align-left {
  text-align: left !important;
}
.align-right {
  text-align: right !important;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.fs11 {
  font-size: 11px !important;
}
.fs12 {
  font-size: 12px !important;
}
.fs13 {
  font-size: 13px !important;
}
.fs14 {
  font-size: 14px !important;
}
.fs15 {
  font-size: 15px !important;
}
.fs16 {
  font-size: 16px !important;
}
.fs17 {
  font-size: 17px !important;
}
.fs18 {
  font-size: 18px !important;
}
.fs19 {
  font-size: 19px !important;
}
.fs20 {
  font-size: 20px !important;
}