<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js ie7 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Template 2.3. 11.10.12</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="media/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link rel="apple-touch-icon" href="media/images/apple-touch-icon.png">
  <link rel="stylesheet" type="text/css" href="media/css/base/base.css">
  <link rel="stylesheet" type="text/css" href="media/css/style.css">
  <link rel="stylesheet" type="text/css" href="media/css/other.css">
  <link rel="stylesheet" type="text/css" href="media/css/fancybox/jquery.fancybox.css">
  <script type="text/javascript" src="media/js/libs/modernizr-2.6.2.min.js"></script>
  <!--[if lt IE 7]>
    <script type="text/javascript" src="media/js/libs/ie6no.ru.js"></script>
  <![endif]-->
  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="media/css/ie/ie.css">
  <![endif]-->
</head>
<body>
  <div class="page">
    <header class="header">
      Header
    </header>
    <section class="container column">
      <section class="column__content">
        <div class="normalize clearfix">
          <h1>.normalize (<span class="line-through">.textpage</span>)</h1>
          <img src="media/uploads/demo.jpg" alt="" class="img-left" width="200">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing sof</p>
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
          <table border="1">
            <tr>
              <th>Lorem Ipsum is simply dummy text</th>
              <th>Contrary to popular belief, Lorem Ipsum is not simply</th>
            </tr>
            <tr>
              <td>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur </td>
              <td>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.  </td>
            </tr>
          </table>
          <br>
          <h2>Lorem Ipsum</h2>
          <ul>
            <li>Vestibulum sodales urna a est feugiat suscipit.</li>
            <li>Proin nec ante vel tellus interdum iaculis.</li>
            <li>Sed mattis purus ac eros pellentesque laoreet sed sit amet tellus.</li>
            <li>Cras sed nisl sem, in porttitor elit.</li>
            <li>Nunc luctus hendrerit est, non condimentum leo adipiscing porta.</li>
            <li>In ut mauris tortor, in porta felis.</li>
          </ul>
          <h3>Contrary to popular belief</h3>
          <ul>
            <li>Donec at magna eu tellus sagittis condimentum.</li>
            <li>Sed vehicula ultrices ipsum, sollicitudin auctor augue iaculis a.</li>
            <li>Mauris iaculis enim quis felis egestas sit amet viverra tellus luctus.</li>
            <li>Nulla posuere augue nec erat vulputate vel dapibus lorem accumsan.</li>
            <li>Cras non nisl in nulla tempus dictum.</li>
          </ul>
        </div>
      </section>
      <aside class="column__aside">
        Aside
      </aside>
    </section><!-- class="container" -->
    <footer class="footer">
      Footer
    </footer><!-- class="footer" -->
  </div><!-- class="page" -->
  <script type="text/javascript" src="http://yandex.st/jquery/1.8.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="media/js/libs/jquery-1.8.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="media/js/plugins.js"></script>
  <script type="text/javascript" src="media/js/script.js"></script>
</body>
</html>