@import 'header/header-bs.styl'

.hidden-bs,
.visible-xs,
.visible-sm {
  display: none !important;
}


$n = "(max-width: " + $md-min + ")"
@media $n {
  .visible-bs,
  .hidden-sm {
    display: none !important;
  }

  .visible-sm,
  .hidden-bs {
    display: block !important;
  }

  @import 'header/header-sm-md.styl'
}

$n = "(max-width: " + $sm-min + ")"
@media $n {

  .visible-sm,
  .hidden-xs {
    display: none !important;
  }

  .visible-xs,
  .hidden-sm {
    display: block !important;
  }

   @import 'header/header-xs-sm.styl';
}














