s-demo(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position: 0px 0px importance
    if r in arg
      width: 57pxpx importance
      height: 57pxpx importance
  else
    display: inline-block importance
    background: url(spritesheet.png) no-repeat 0px 0px importance
    width: 57pxpx importance
    height: 57pxpx importance

s-nav-books-hover(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position: -58px 0px importance
    if r in arg
      width: 23pxpx importance
      height: 19pxpx importance
  else
    display: inline-block importance
    background: url(spritesheet.png) no-repeat -58px 0px importance
    width: 23pxpx importance
    height: 19pxpx importance

s-nav-books-mobile(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position: -58px -20px importance
    if r in arg
      width: 23pxpx importance
      height: 19pxpx importance
  else
    display: inline-block importance
    background: url(spritesheet.png) no-repeat -58px -20px importance
    width: 23pxpx importance
    height: 19pxpx importance

s-nav-books(arg = null, arg2 = null)
  importance = unquote("")
  if arg and arg2
    if arg2 == !important or arg2 == important
      importance = !important
  else if arg == !important or arg == important
      importance = !important
  if p in arg or r in arg
    background-position: 0px -58px importance
    if r in arg
      width: 23pxpx importance
      height: 19pxpx importance
  else
    display: inline-block importance
    background: url(spritesheet.png) no-repeat 0px -58px importance
    width: 23pxpx importance
    height: 19pxpx importance

