.normalize {

  padding-bottom: 1px;
  line-height: 17px;
  font-size: 12px;
  font-family: @arial;

  &:after,
  &:before {
    display: block;
    content: '';
  }

  &:after {
    clear: both;
  }

// margin-bottom
  p,
  ul,
  ol {
    margin-bottom: 1em;
  }

// heading
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5em;
    font-weight: 600;
    line-height: normal;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.17em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.83em;
  }

  h6 {
    font-size: 0.75em;
  }

// lists
  ol,
  ul {
    padding-left: 30px;
  }

  ul {
    list-style: disc;
  }

  ul ul {
    list-style: circle;
  }

  ul ul ul {
    list-style: square;
  }

  ol {
    list-style: decimal;
  }

  ul.unstyled,
  ol.unstyled {
    padding-left: 0;
    list-style: none;
  }


  img {
    clear: both;
    margin-bottom: 5px;
  }

  img.img-left {
    float: left;
    margin: 2px 18px 12px 0;
  }

  img.img-right {
    float: right;
    margin: 2px 18px 12px 0;
  }


  table,
  td,
  th {
    border: none;
  }
  table th,
  table td {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
  }
  table {
    border-spacing: 0;
    border-collapse: separate;
    max-width: 100%;
  }
  table th {
    font-weight: bold;
  }
  table[border] {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  table[border] thead td,
  table[border] thead th {
    background: #f3f3f3;
  }
  table[border] th,
  table[border] td {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  table[border] th {
    background: #f8f8f8;
  }
  table[border="2"],
  table[border="2"] td,
  table[border="2"] th {
    border-width: 2px !important;
  }
  table[border="3"],
  table[border="3"] td,
  table[border="3"] th {
    border-width: 3px !important;
  }
  table[border="0"],
  table[border="0"] td,
  table[border="0"] th {
    border-width: 3px !important;
  }

} // .normalize