/* glue: 0.9.2 hash: 40012123a7 */
.sprite-demo,.sprite-nav-books,.sprite-nav-books-mobile,.sprite-nav-books-hover{
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite-demo{
  background-position:-1px -1px;
  width: 57px;
  height: 57px;
}
.sprite-nav-books{
  background-position:-60px -1px;
  width: 23px;
  height: 19px;
}
.sprite-nav-books-mobile{
  background-position:-60px -22px;
  width: 23px;
  height: 19px;
}
.sprite-nav-books-hover{
  background-position:-1px -60px;
  width: 23px;
  height: 19px;
}