/* glue: 0.9.4 hash: fe0b977bbd */
.sprite-sprite,.sprite-apple-touch-icon{
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.sprite-sprite{
  background-position:-1px -1px;
  width: 59px;
  height: 59px;
}
.sprite-apple-touch-icon{
  background-position:-62px -1px;
  width: 57px;
  height: 57px;
}