.popupwin {
  position: absolute;
  left: 20%;
  top: 40%;
  z-index: 2000;
  padding: 30px;
  width: 300px;
  background-color: #fff;
}
input,
select,
textarea {
  font: 12px Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
}
input[type="text"] {
  border: 1px solid #666;
}
body {
  font: 12px Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  background: #fff;
  color: #333;
}
::selection {
  background: #0784ad;
  color: #fff;
}
::-moz-selection {
  background: #0784ad;
  color: #fff;
}
a {
  color: #1b66ff;
}
.page {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
  width: 940px;
  *zoom: 1;
}
.page:before,
.page:after {
  display: table;
  content: "";
}
.page:after {
  clear: both;
}
.container {
  position: relative;
  margin: 0 auto 140px;
  height: 1%;
}
.container:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.aside {
  float: left;
  width: 25%;
}
.content {
  float: right;
  width: 70%;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
.header {
  position: relative;
  margin: 0 auto;
  height: 100px;
}
