.header-bs {
  color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.other-bs {
  color: #444;
}
.hidden-bs,
.visible-xs,
.visible-sm,
.visible-md,
.hidden-only-bs,
.visible-only-md,
.visible-only-sm,
.visible-only-xs {
  display: none !important;
}
