/*Base styles*/
html,
input,
select,
textarea {
  color: @base-color;
  font-size: 13px;
  font-family: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
}
::selection {
  background: #0784ad;
  color: #fff;
}
::-moz-selection {
  background: #0784ad;
  color: #fff;
}
a {
  color: #1b66ff;
} 

/*Layout*/
.page {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  min-height: 100%;
  width: 940px;
}
.page__container {
  position: relative;
  margin: 0 auto 140px;
  height: 1%;
}
.page__container:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.page__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
.page__header {
  position: relative;
  margin: 0 auto;
  height: 100px;
}
.column__aside {
  float: left;
  width: 25%;
}
.column__content {
  float: right;
  width: 70%;
}
/*Blocks*/