/*Base styles*/
body {
  font: 12px Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
  background: #fff;
  color: #333333;
}
::selection {
  background: #0784ad;
  color: #fff;
}
::-moz-selection {
  background: #0784ad;
  color: #fff;
}
a {
  color: #1b66ff;
}
/*Blocks*/
/*$page*/
.page {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
  width: 940px;
  *zoom: 1;
}
.page:before,
.page:after {
  display: table;
  content: "";
}
.page:after {
  clear: both;
}
/*$container*/
.container {
  position: relative;
  margin: 0 auto 140px;
  height: 1%;
}
.container:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.aside {
  float: left;
  width: 25%;
}
.content {
  float: right;
  width: 70%;
}
/*$footer*/
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
/*$header*/
.header {
  position: relative;
  margin: 0 auto;
  height: 100px;
}
