$base-color = #333;

// >=480px, >=768px, >=1000px, >=1200px
$xs = 480px;
$sm = 768px;
$md = 1000px;
$lg = 1200px;

$xs-min = $xs - 1;
$sm-min = $sm - 1;
$md-min = $md - 1;
$lg-min = $lg - 1;

$xs-max = $xs + 1;
$sm-max = $sm + 1;
$md-max = $md + 1;
$lg-max = $lg + 1;

$arial = Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$verdana = Verdana, 'Geneva CY', 'DejaVu Sans', sans-serif;
$tahoma = Tahoma, 'Geneva CY', sans-serif;
$roman = 'Times New Roman', 'Times CY', 'Nimbus Roman No9 L', serif;
$georgia = Georgia, 'Century Schoolbook L', serif;
